/.env
/venv

# Arquivos de cache do Python
__pycache__/
*.pyc

# Modelos gigantes baixados
llama-3.1-8b-instruct-hf/
qwen3-4b/
morpheus-4b-eliphas-levi/

# Pasta de dados (geralmente não versionamos dados brutos)
data/

# Arquivos de configuração de IDEs
.vscode/
.idea/