dotenv
google-ai-generativelanguage
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-ollama
langchain-openai
langchain-redis
langchain-tavily
langchain-text-splitters
langgraph
langsmith
numpy
ollama
openai
python-dotenv
redis
zstandard
bitsandbytes
transformers
peft
accelerate
einops
evaluate
scikit-learn
sentencepiece
wandb
